{% extends "layout.html" %}

{% block content %}

<div>
    <h1>Welcome</h1><br>
    <div>
        <h3>Available Movies</h3><br>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Pulp Fiction</td>
                        <td><img src="static/images/Pulpfiction.jpg"  width="150" height="200"></td>
                    </tr>
                    <tr>
                        <td>The Shawshank Redemption</td>
                        <td><img src="static/images/Shawshank.jpg"  width="180" height="180"></td>
                    </tr>
                    <tr>
                        <td>Goodfellas</td>
                        <td><img src="static/images/Goodfellas.jpg"  width="150" height="200"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}