.homebg{
    background-image:linear-gradient(black,rgb(1, 1, 63));
    color: whitesmoke;
    text-align: center;
    background-size:cover;
    height: 255px;
}

.moviebook{
    text-align: center;
}

.common{
    background-image: linear-gradient(black,rgb(1, 1, 63));
    color: white;
}

.heightof{
    height: 300px;
}