<div class="footer-dark">
    <footer>
        <div class="container-fluid bottom-container">
            <div class="row">
               
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>FilmyTiks</h3>
                    <p>Book your tickets hassle free!</p>
                </div>
            </div>
            <p class="copyright">FilmyTiks © 2020</p>
        </div>
    </footer>
</div>
    

